@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.react-pdf__Page__canvas {
  @apply mx-auto border border-gray-300/40 shadow;
}

.markdown-body ul {
  @apply list-disc;
}
.markdown-body ol {
  @apply list-decimal;
}
pre[class*="language-"],
code[class*="language-"] {
  @apply font-mono !important;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .backdrop-blur-sm {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
  .backdrop-blur-md {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
  }
}
